$color: #E19C91;
body{
//background-color: $color;
  //禁用文字选中
user-select: none;
}
img{
  -webkit-user-drag: none;
}

//我的 页面布局

.demo-logo-vertical{
  height: 32px;
  margin: 16px;
  background: rgb(255,255,255,0.3);
}
.site-layout .site-layout-background {
  background: #fff;
}
